/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	.form-Ingreso{
		width: 350px;
		margin: 2px auto;
	}
}
	

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	.form-Ingreso{
		width: 350px;
		margin: 2px auto;
		float:none;
	}
	

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	.form-Ingreso{
		float:none;
		width: 80%;
		margin: 2px auto;
	}
	
}

